body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;

}
.orange-color{
    color: orange;
}

section{
    display: flex;
    margin-bottom: 150px;
}

.half-wid{
    width:50%;
    padding-left: 5%;
}
.half-wid img {
    width: 85%;
}
.food-button{
    text-decoration: none;
    font-weight: 900;
    color: rgb(34, 5, 5);
    background-image: linear-gradient(rgb(230, 226, 8), rgb(205, 209, 149));
    border-radius: 30px;
    padding: 10px 15px;
}

.about-me{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
#middle-recipies{
    color: gray;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.food-test{

    border-radius: 10px;
    height: 410px;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow:10px 10px 50px gray;
}


.f-img-size {
    padding: 8%;
    height: 200px;
    width: 250px;
}
#footer{
 text-align: center;
 background-color: rgb(218, 19, 19);
 font-weight: 900;
 background-size: auto;
 
}